<!DOCTYPE html>
<!-- XML NAMESPACE DECLARATION FOR THYMELEAF -->
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: page_head('Home - Shopme Admin', 'none')" />
<body>
<!-- DIV FOR CONTAINER -->
<div class="container-fluid">
	<!-- DIV FOR NAV BAR -->
	<div th:replace="navigation :: menu"></div>
	<div>
		<h2>Shopme Control Panel</h2>
		Welcome
		<a th:href="@{/account}"
		sec:authentication="principal.fullname"></a>
		<span sec:authentication="principal.authorities"></span>
	</div>
	<!-- DIV FOR FOOTER -->
	<div th:replace="fragments :: footer"></div>
</div>
</body>
</html>